<!-- Form where users can change their password -->

{% extends "base_generic.html" %}  <!-- Inherit from a base template named base_generic.html -->

{% block title %}Change Password{% endblock %}  <!-- Set the title of the page -->

{% block content %}
<h2>Change Password</h2>  <!-- Heading for the password change form -->

<form method="post">  <!-- Use the POST method to securely submit the form data -->
    {% csrf_token %}  <!-- CSRF token for security to prevent cross-site request forgery attacks -->
    {{ form.as_p }}  <!-- Render the password change form fields as paragraphs for simple styling -->
    <button type="submit">Change Password</button>  <!-- Submit button to change the password -->
</form>

<a href="{% url 'accounts:user_profile' %}">Cancel</a>  <!-- Link to cancel and return to the user profile -->
{% endblock %}
